.container {
  display: flex;
  align-items: center;
}

.item {
  flex-basis: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.total {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
