.container {
  width: 1280px;

  border: 2px dashed red;

  display: flex;
  align-items: flex-start;
  /* justify-content: center; */
}

.navigation {
  width: 350px;
  display: flex;
  /* align-items: center;
  justify-content: center; */

  flex-direction: column;
}
