.container {
  width: 1280px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  /* flex-direction: column; */

  /* border: 1px solid red; */
}

.title {
  flex-basis: 100%;

  /* border: 1px solid red; */
}
