.container {
  width: 600px;
  display: flex;
  flex-direction: column;
}

.scroll {
  overflow-y: scroll;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.align {
  text-align: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.list_inner {
  flex-basis: 50%;
}

.navbar {
  display: flex;
}
