.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.dragging_wrapper {
  position: absolute;
  pointer-events: none;
  z-index: 100;
  left: 0;
  top: 0;
}

.dragging {
  border: 1px dashed royalblue;
  border-radius: var(--common-border-radius-s);
}
