
.container {
    display: flex;
    background: #1C1C21;
    justify-content: space-around;
    align-items: center;
  }

/* UNUSED */
.container_links {
      display: flex;
      align-items: center;
    }
